<template>
    <div class="mb-3">
        <div class="title mb-4">Категории</div>

        <v-data-table
            :headers="headers"
            :items="items"
            :options.sync="paginatorOptions"
            :footer-props="footerProps"
            :server-items-length="totalItems"
            :loading="itemsLoading"
            loading-text="Идет загрузка..."
            no-data-text="Не найдено"
        >
            <template #item.actions="{ item }">
                <v-icon small class="mr-2" @click="$refs.categoryDialog.open(item)">
                    mdi-pencil
                </v-icon>
                <v-icon small @click="deleteItem(item)"> mdi-delete</v-icon>
            </template>
        </v-data-table>

        <v-btn
            color="primary"
            dark
            fab
            fixed
            bottom
            right
            @click.stop="$refs.categoryDialog.open"
        >
            <v-icon>mdi-plus</v-icon>
        </v-btn>

        <categories-dialog ref="categoryDialog" @close="loadResource"/>
    </div>
</template>

<script>
import editableTableData from "../../mixins/editableTableData";
import serverSidePagination from "../../mixins/serverSidePagination";
import CategoriesDialog from "./CategoriesDialog";

export default {
    components: {
        CategoriesDialog,
    },

    mixins: [editableTableData, serverSidePagination],
    data: () => ({
        resource: "categories",
        search: "",
        headers: [
            {
                text: "Название",
                align: "start",
                value: "title",
            },
            {value: "actions", sortable: false, align: "end", width: 78},
        ],
        modalItem: {
            title: "",
        },
        dialog: false,
        footerProps: {
            "items-per-page-options": [10, 15, 30],
            itemsPerPageText: "Кол-во элементов на странице",
        },
    }),
};
</script>
