<template>
    <v-dialog v-model="dialog" persistent width="500px">
        <v-card>
            <v-toolbar dark color="primary">
                <v-btn icon dark @click="close">
                    <v-icon>mdi-close</v-icon>
                </v-btn>
                <v-toolbar-title>{{ heading }}</v-toolbar-title>
                <v-spacer/>
                <v-toolbar-items>
                    <v-btn dark text @click="save"> Сохранить</v-btn>
                </v-toolbar-items>
            </v-toolbar>

            <v-container>
                <v-row class="mb-0 pt-8 px-8" no-gutters>
                    <v-col cols="12">
                        <v-text-field
                            v-model="formData.title"
                            label="Название:"
                            required
                            :error-messages="errors.title"
                        />
                    </v-col>
                </v-row>
            </v-container>
        </v-card>
    </v-dialog>
</template>

<script>

export default {

    props: {
        category: {
            type: Object,
            required: false,
            default: () => ({}),
        },
    },
    data() {
        return {
            dialog: false,
            edit: false,
            formData: {
                title: "",
            },
            pureForm: {
                title: "",

            },
            errors: [],
        };
    },

    computed: {
        heading() {
            return this.edit ? "Правка" : "Новый";
        },
        axiosConfig() {
            if (this.edit) {
                return {
                    url: "/categories/" + this.formData.id,
                    method: "put",
                };
            } else
                return {
                    url: "/categories",
                    method: "post",
                };
        },
    },

    methods: {
        open(item) {
            if (item.id) {
                this.edit = true;
                this.formData = Object.assign({}, item);
            }
            this.dialog = true;
        },
        close() {
            this.dialog = false;
            this.clearForm();
            this.$emit("close");
        },

        clearForm() {
            this.edit = false;
            this.errors = [];
            this.formData = Object.assign({}, this.pureForm);
        },

        async save() {
            try {
                await this.$axios({
                    method: this.axiosConfig.method,
                    url: this.axiosConfig.url,
                    data: this.formData,
                });

                this.close();
            } catch (error) {
                console.log(error.data.errors);
                this.errors = error.data.errors;
            }
        },
    },
};
</script>
