<template>
  <v-app id="inspire">
    <TheDrawer />
    <v-main>
      <v-container fluid clas="fill-height">
        <router-view />
      </v-container>
    </v-main>
    <confirm ref="confirm" />
  </v-app>
</template>

<script>
import TheDrawer from "./components/TheDrawer";
import Confirm from "./components/base/Confirm";

export default {
  name: "AppRoot",
  components: { TheDrawer, Confirm },
  data: () => ({ drawer: null }),

  mounted() {
    this.$root.$confirm = this.$refs.confirm.open;
  },
};
</script>
