<template>
    <div>
        <v-container>
            <v-card class="elevation-1 rounded-lg px-5 py-7">
                <v-row>
                    <v-col>
                        <categories-table />
                    </v-col>
                </v-row>
            </v-card>
        </v-container>
    </div>
</template>

<script>

import CategoriesTable from "../../components/categories/CategoriesTable";
export default {
    name: "AppCategoriesIndexPage",
    components: {
        CategoriesTable,
    },
};
</script>
