<template>
    <v-dialog v-model="dialog" persistent fullscreen>
        <v-card>
            <v-toolbar dark color="primary">
                <v-btn icon dark @click="close">
                    <v-icon>mdi-close</v-icon>
                </v-btn>
                <v-toolbar-title>{{ heading }}</v-toolbar-title>
                <v-spacer/>
                <v-toolbar-items>
                    <v-btn dark text @click="save"> Сохранить</v-btn>
                </v-toolbar-items>
            </v-toolbar>

            <v-container>
                <v-row class="mb-0 pt-8 px-8" no-gutters>
                    <v-col cols="12">
                        <v-text-field
                            v-model="formData.title"
                            label="Название:"
                            required
                            :error-messages="errors.title"
                        />
                    </v-col>
                    <v-col cols="12">
                        <v-text-field
                            v-model="formData.price"
                            label="Цена:"
                            required
                            :error-messages="errors.price"
                        />
                    </v-col>
                    <v-col cols="12">
                        <v-switch
                            v-model="formData.published"
                            label="Публикация"
                            required
                            :error-messages="errors.published"
                        />
                    </v-col>
                    <v-col cols="12">
                        <v-autocomplete
                            v-model="formData.categories"
                            multiple
                            label="Категории"
                            :items="categories"
                            item-text="title"
                            item-value="id"
                            required
                            :error-messages="errors.categories"
                        />
                    </v-col>

                </v-row>
            </v-container>
        </v-card>
    </v-dialog>
</template>

<script>

export default {

    props: {
        product: {
            type: Object,
            required: false,
            default: () => ({}),
        },
    },
    data() {
        return {
            dialog: false,
            edit: false,
            formData: {
                title: "",
                price: "",
                published: "",
                categories: []
            },
            pureForm: {
                title: "",
                price: "",
                published: "",
                categories: []

            },
            errors: [],
        };
    },

    computed: {
        heading() {
            return this.edit ? "Правка товара" : "Новый товар";
        },
        categories() {
            return this.$store.getters['categories/all'];
        },

        axiosConfig() {
            if (this.edit) {
                return {
                    url: "/products/" + this.formData.id,
                    method: "put",
                };
            } else
                return {
                    url: "/products",
                    method: "post",
                };
        },
    },

    methods: {
        loadCategories() {
            this.$store.dispatch('categories/loadAll')
        },
        open(item) {
            this.loadCategories()
            if (item.id) {
                this.edit = true;
                this.formData = Object.assign({}, item);
                this.formData.categories = item.categories.map(item => item.id)
                console.log(this.formData.categories)
            }
            this.dialog = true;
        },
        close() {
            this.dialog = false;
            this.clearForm();
            this.$emit("close");
        },

        clearForm() {
            this.edit = false;
            this.errors = [];
            this.formData = Object.assign({}, this.pureForm);
        },

        async save() {
            try {
                await this.$axios({
                    method: this.axiosConfig.method,
                    url: this.axiosConfig.url,
                    data: this.formData,
                });

                this.close();
            } catch (error) {
                console.log(error.data.errors);
                this.errors = error.data.errors;
            }
        },
    },
};
</script>
