<template>
    <div class="mb-3">
        <div class="title mb-4">Товары</div>

        <v-data-table
            :headers="headers"
            :items="items"
            :options.sync="paginatorOptions"
            :footer-props="footerProps"
            :server-items-length="totalItems"
            :loading="itemsLoading"
            loading-text="Идет загрузка..."
            no-data-text="Не найдено"
        >
            <template #top>
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-4">
                        <v-text-field v-model="filter.search" @input="loadResource"
                                      label="Поиск по названию" class="mx-4"/>
                    </div>
                    <div class="col-12 col-lg-4">
                        <v-text-field v-model="filter.category" @input="loadResource"
                                      label="Поиск по категории" class="mx-4"/>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <v-text-field
                            v-model="filter.price_from"
                            label="Цена от"
                            class="mx-4"
                            @input="loadResource"

                        />
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <v-text-field
                            v-model="filter.price_to"
                            label="Цена до"
                            class="mx-4"
                            @input="loadResource"
                        />
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <v-switch
                            v-model="filter.trashed"
                            label="Показывать удаленные"
                            class="mx-4"
                            @change="loadResource"
                        />
                    </div>
                </div>
            </template>

            <template #item.actions="{ item }">
                <v-icon small class="mr-2" @click="$refs.productDialog.open(item)">
                    mdi-pencil
                </v-icon>
                <v-icon small @click="deleteItem(item)"> mdi-delete</v-icon>
            </template>
            <template #item.categories="{ item }">
                <v-chip class="mr-1 my-1" v-for="category in item.categories" :key="category.id">
                    {{ category.title }}
                </v-chip>
            </template>
        </v-data-table>

        <v-btn
            color="primary"
            dark
            fab
            fixed
            bottom
            right
            @click.stop="$refs.productDialog.open"
        >
            <v-icon>mdi-plus</v-icon>
        </v-btn>

        <products-dialog ref="productDialog" @close="loadResource"/>
    </div>
</template>

<script>
import editableTableData from "../../mixins/editableTableData";
import serverSidePagination from "../../mixins/serverSidePagination";
import ProductsDialog from "./ProductsDialog";

export default {
    components: {
        ProductsDialog,
    },

    mixins: [editableTableData, serverSidePagination],
    data: () => ({
        resource: "products",
        search: "",
        headers: [
            {
                text: "Название",
                align: "start",
                value: "title",
            },
            {
                text: "Цена",
                align: "start",
                value: "price",
            },
            {text: "Публикация", align: "start", value: "published"},
            {text: "Категории", sortable: false, align: "start", value: "categories"},
            {value: "actions", sortable: false, align: "end", width: 78},
        ],
        modalItem: {
            title: "",
        },
        dialog: false,
        footerProps: {
            "items-per-page-options": [10, 15, 30],
            itemsPerPageText: "Кол-во элементов на странице",
        },
    }),
};
</script>
