<template>
    <div>
        <v-navigation-drawer v-model="drawer" app dark>
            <template #prepend>
                <v-list-item two-line class="px-2">


                    <v-list-item-content>
                        <v-list-item-title
                        >Каталог
                        </v-list-item-title>
                    </v-list-item-content>
                </v-list-item>

            </template>

            <v-divider/>

            <v-list dense>
                <template v-for="(item, index) in items">
                    <v-list-item
                        :key="index"
                        link
                        :to="{ name: item.to }"
                    >
                        <v-list-item-icon>
                            <v-icon>{{ item.icon }}</v-icon>
                        </v-list-item-icon>

                        <v-list-item-content>
                            <v-list-item-title>{{ item.name }}</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </template>
            </v-list>
        </v-navigation-drawer>
        <v-app-bar app dark>
            <v-app-bar-nav-icon @click.native="drawer = !drawer"/>
            <v-toolbar-title>ООО Ромашка</v-toolbar-title>

        </v-app-bar>
    </div>
</template>

<script>

export default {
    name: "TheDrawer",
    data: () => ({
        drawer: true,
        mini: false,
        items: [
            {
                name: "Продукты",
                to: "products",
                icon: "mdi-cart-outline",
            },
            {
                name: "Категории",
                to: "categories",
                icon: "mdi-book-outline",
            },
        ],
    }),
};
</script>

<style scoped></style>
