<template>
    <div>
        <v-container>
            <v-card class="elevation-1 rounded-lg px-5 py-7">
                <v-row>
                    <v-col>
                        <products-table />
                    </v-col>
                </v-row>
            </v-card>
        </v-container>
    </div>
</template>

<script>

import ProductsTable from "../../components/products/ProductsTable";
export default {
    name: "AppProductsIndexPage",
    components: {
        ProductsTable,
    },
};
</script>
